topics:
  -
    topic: /tf_static
    type: tf2_msgs/msg/TFMessage
    queue_size: 1
    qos:
      history: keep_all
      durability: transient_local
  
  - 
    topic: /tf
    type: tf2_msgs/msg/TFMessage
    queue_size: 1

  -
    topic: /joint_states
    type: sensor_msgs/msg/JointState
    queue_size: 1

  -
    topic: /wrist_rgbd_depth_sensor/image_raw
    type: sensor_msgs/msg/Image
    queue_size: 1

  -
    topic:  /wrist_rgbd_depth_sensor/image_aruco_frame
    type: sensor_msgs/msg/Image
    queue_size: 1


services_1_to_2:
  -
    service: /moveit_sim_service # ROS 2 service name
    type: std_srvs/srv/SetBool  # The ROS 2 service type name
  -
    service: /planning_scene_cp25 # ROS 2 service name
    type: std_srvs/srv/Empty  # The ROS 2 service type name
